<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Assign Projects</title>
        <meta charset="utf-8"/>
        style
            include ./CSS/cluster1.css
    </head>
    
    <body>
        <nav>
            <a href ="/ScheduledTeamsView&Edit">Home</a>
        </nav>

        <h2> Project Assign: Choose a Project</h2>
        <br>
        <h3>If a project is currently assigned to another team, then the existing team will be cancelled</h3>

        <form action = "GetProjectIndex" method = "POST">
            <table>
                <tr>
                    <th>ProjectID</th> 
                    <th>ChurchName</th> 
                    <th>PastorName</th> 
                    <th>Country</th> 
                    <th>DateRecieved</th> 
                    <th>ASSIGN</th>
                </tr>

                <tr>
                    -tableArrayAssignProject.forEach(function (element) {
                        <tr>
                            <td>  #{element.ProjectID}</td>
                            <td>  #{element.ChurchName}</td>
                            <td>  #{element.PastorName}</td>
                            <td>  #{element.Country}</td>
                            <td>  #{element.DateRecieved}</td>
                            <td><input id=#{element.ProjectID} type="Submit" name="RowForProjectToAssign" value=#{element.ProjectID}></input></td>
                        </tr>
                    -});
                </tr>
            </table>
        </form>
        <br>
        <br>
    </body>
</html>
